/**
 * riot-form:/css/riot.css
 * 
 * @creation  2017-05-24
 * @version   1.0
 * @package   riot-form
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

div.riot .error {
	color: #f03030;
	background-color: #ffdfdf;
}

div.riot .change:not(.error) {
	background-color: #fcfc9c;
}

div.riot *:disabled {
	color: blue;
}

div.table,
div[role="table"] {
	display: table;
}

div.tr,
div[role="table"] > div {
	display: table-row;
}

div.td,
div[role="table"] > div > div {
	display: table-cell;
	vertical-align: top;
}

div.th,
div[role="th"],
div[role="table"] > div > div:nth-child(1) {
	display: table-cell;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}
