<riot-form-pre>
	<script>
	this.on('update', function(){
		if( opts.content ){
			opts.content = opts.content.replace(/</g, '&lt;');
			opts.content = opts.content.replace(/>/g, '&gt;');
			opts.content = opts.content.replace(/\n/g, '<br/>');
			this.root.innerHTML = '<div class="pre">' + opts.content + '</div>';
		}
	});
	</script>
</riot-form-pre>