<riot-form-pre>
	<style scoped>
	:scope div.pre {
		_border: 1px solid black;
	}
	</style>
	<script>
	this.opts.content = this.opts.content ? this.opts.content.replace(/\n/g, '<br/>'): '';
	this.root.innerHTML = '<div class="pre">' + this.opts.content + '</div>';
	</script>
</riot-form-pre>